<div class="container container my-5 p-5 pt-4 rounded form-att">
  <h1>Crear cuenta</h1>
  <label class="form-label">Nombre</label>
  <input
    type="text" placeholder="Ingresa tu nombre"
    class="form-control"
  />
  <label class="form-label">Apellido paterno</label>
  <input
    type="text" placeholder="Ingresa tu apellido paterno"
    class="form-control"
  />
  <label class="form-label">Apellido materno</label>
  <input
    type="text" placeholder="Ingresa tu apellido paterno"
    class="form-control"
  />
  <label class="form-label">Genero</label>
  <select class="form-control">
    <option value="M">M</option>
    <option value="F">F</option>
  </select>
  <label class="form-label">Edad</label>
  <input
    type="number" placeholder="Ingresa tu edad"
    class="form-control"
  />
  <label class="form-label">Fecha de nacimieno</label>
  <input
    type="date"
    class="form-control"
  />
  <label class="form-label">Numero de telefono</label>
  <input
    type="number" placeholder="Ingresa tu numero de telefono"
    class="form-control"
  />
  <label class="form-label">Ciudad</label>
  <input
    type="text" placeholder="Ingresa tu ciudad"
    class="form-control"
  />
  <label class="form-label">Direccion</label>
  <input
    type="text" placeholder="Ingresa tu direccion"
    class="form-control"
  />
  <label class="form-label">Correo</label>
  <input
    type="email" placeholder="Ingresa tu correo electronico"
    class="form-control"
  />
  <label class="form-label">Nombre de usuario</label>
  <input
    type="text" placeholder="Ingresa un nombre de usuario"
    class="form-control"
  />
  <label class="form-label">Contraseña</label>
  <input
    type="password" placeholder="Ingresa una Contraseña"
    class="form-control"
  />
  <label class="form-label">Eligue una pregunta secreta</label>
  <select class="form-control">
    <option value="">¿Nombre de tu mascota?</option>
    <option value="">¿Fruta favorita?</option>
    <option value="">¿Pelicula favorita?</option>
  </select>
  <label class="form-label">Respuesta</label>
  <input
    type="text" placeholder="Ingresa la respuesta a la pregunta "
    class="form-control"
  />
  <input class="btn my-3" type="button" value="Crear cuenta">
</div>
