<div class="container my-4 p-3 rounded producto">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="400px" width="500px" src="../../../../../assets/img/a169422c-b292-4c46-9a1d-082f46b9220e_16-9-discover-aspect-ratio_default_0.jpg" alt="">
      </div>
      <div class="carousel-item">
        <img height="400px" width="500px" src="../../../../../assets/img/Los-colores-que-utilizamos-en-la-ropa-dicen-como-somos.jpg.webp" alt="">
      </div>
      <div class="carousel-item">
        <img height="400px" width="500px" src="../../../../../assets/img/haz-crecer-tu-marca-de-ropa-frente-la-competencia_1.jpg" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h5><strong>Nombre del producto</strong></h5>
    <span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facere, perferendis necessitatibus aliquam consequuntur ad doloremque, vero totam dolores iusto, fugiat iure rerum dolorum modi repellat aspernatur! Hic, distinctio obcaecati!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, inventore illum voluptas labore facilis numquam? Commodi, fugit alias amet incidunt mollitia suscipit facere nisi at nemo voluptas minima adipisci. Atque?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, nisi. Cumque, laboriosam voluptates. Perferendis, ipsam consectetur quia doloribus ea quam velit totam maxime, repellendus magnam harum? Illo illum ut ratione.
    </p></span>
    <span>
      <p>Precio: <strong>$500.00</strong></p>
      <p>Descuento: <strong>10%</strong></p>
      <p>Envio: <strong>$99.00</strong></p>
    </span>
  </div>
</div>
<div class="container comentarios-general p-3 pb-5 mb-5 rounded">
  <h2>Comentarios</h2>
  <div class="bg-white rounded p-4">
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic consequuntur nesciunt velit illo voluptas atque neque ratione accusantium. Dolores harum animi suscipit consequatur id tempore deserunt error velit expedita.</p>
      <hr>
    </div>
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic consequuntur nesciunt velit illo voluptas atque neque ratione accusantium. Dolores harum animi suscipit consequatur id tempore deserunt error velit expedita.</p>
      <hr>
    </div><div class="comentario">
      <p>Nombre del usuario</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic consequuntur nesciunt velit illo voluptas atque neque ratione accusantium. Dolores harum animi suscipit consequatur id tempore deserunt error velit expedita.</p>
      <hr>
    </div>
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic consequuntur nesciunt velit illo voluptas atque neque ratione accusantium. Dolores harum animi suscipit consequatur id tempore deserunt error velit expedita.</p>
      <hr>
    </div>
  </div>
</div>
