.producto{
  display: flex;
  background-color: rgba(252, 214, 220, 0.774);
}
.comentarios-general{
  background-color: rgba(252, 214, 220, 0.774);
}
h5{
  font-size: 30px;
}
.btn{
  width: 100%;
  background-color: violet;
}
@media screen and (max-width: 600px) {
  .producto{
    flex-direction: column;
  }
}
