<div class="row">
  <div class="card col-3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Playera Nueva</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: $100</li>
      <li class="list-group-item">Descuento: 10%</li>
      <li class="list-group-item">Hombre</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Comprar</a>
      <a href="#" class="card-link">Agregar al carrito</a>
    </div>
  </div>
  <div class="card col-3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pantalon Nuevo</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: $300</li>
      <li class="list-group-item">Descuento: 10%</li>
      <li class="list-group-item">Mujer</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Comprar</a>
      <a href="#" class="card-link">Agregar al carrito</a>
    </div>
  </div>
  <div class="card col-3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blusa Nueva</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: $500</li>
      <li class="list-group-item">Descuento: 15%</li>
      <li class="list-group-item">Mujer</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Comprar</a>
      <a href="#" class="card-link">Agregar al carrito</a>
    </div>
  </div>
</div>
