<div class="container my-5 p-5 pt-4 rounded form-att">
  <h1>Login</h1>
  <label for="email" class="form-label">Correo electronico</label>
  <input class="form-control" type="email" name="email" id="email">
  <label for="inputPassword5" class="form-label">Password</label>
  <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  <input class="btn my-3" type="button" value="Ingresar">
  <a class="btn btn-create mx-3" routerLink="crear-cuenta">Crear cuenta</a><br>
  <a routerLink="recuperar-contraeña">Olvide mi contraseña</a>
</div>
