<div class="container mt-3">
  <h1>Atencion al cliente</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ea quas quis. Consequatur
    quibusdam voluptatem, quod accusantium est neque non rerum tempore vitae iure fugiat pariatur
    ratione repudiandae blanditiis sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Corrupti asperiores eligendi officiis aspernatur odio illo temporibus minima neque tempora est
    inventore similique aperiam, delectus consequatur voluptates dolorem vitae fugit mollitia?</p>
</div>
<div class="container form-att my-5 p-5 rounded">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Selecciona el tipo de mensaje</label>
    <select class="form-select" id="exampleFormControlInput1" name="exampleFormControlInput1">
      <option value="duda">Aclaracion o duda</option>
      <option value="queja">Queja</option>
      <option value="sugerencia">Sugerencia</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Escribe tu mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input type="button" value="Enviar" class="btn">
</div>
