.navbar{
  background-color: pink;
}
.btn{
  background-color: violet;
}
img{
  height: 40px;
  display: flex;
}

.logo{
  height: 60px;
}
a{
  color: rgba(51,51,51,.6);
  text-decoration: none;
}

a:hover{
 color: rgb(2, 2, 2)
}
