<nav class="navbar">
  <div class="input-group mb-3 mx-3">
    <img class="logo" src="../../../../../assets/img/logo.png" alt="">
    <input style="border-radius: 5px;" type="text" class="form-control" placeholder="Buscar Producto" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn" type="button" style="border-radius: 5px;">Buscar</button>
    <div class="px-3 pt-2">
      <a href=""><img src="../../../../../assets/img/user-icon.png" alt=""></a>
    </div>
    <div class="px-1 pt-2">
      <a href=""><img src="../../../../../assets/img/card-icon.png" alt=""></a>
    </div>
  </div>
  <div class="container mb-2">
    <div class="container">
      <div class="row">
          <div class="col-2"><a href="">Inicio</a></div>
          <div class="col-2"><a href="">Productos</a></div>
          <div class="col-2"><a href="">Mis compras</a></div>
          <div class="col-2"><a href="">Atención al cliente</a></div>
      </div>
    </div>
  </div>
</nav>
